.img {
    border:6px solid black;
    height: 27rem;
    width: 45rem;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titulo {
    width: 10px;
    height:10px;
}

#campeao { 
    background-color: rgb(255, 255, 255);
}





















































